
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Barlow&display=swap');

.hero{
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-text {
  font-size: 46px;
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
  margin-top: 25%;
  padding: 4px;
  text-align: left;
}
.hero-cup {
  margin-left: 1px;
}
span.underline {
  text-decoration: underline;
}

#steam_1{
  animation-name: steam_1;
  animation-delay: .2s;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}
#steam_2{
  animation-name: steam_2;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}
#steam_3{
  animation-name: steam_3;
  animation-delay: .4s;
  animation-duration: 2.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes steam_1{
  0% {
      opacity: 0;
      transform: translateY(0px);
  }
  50% {
      opacity: 1;

  }
  100% {
      opacity: 0;
      transform: translateY(-25px);
  }
}
@keyframes steam_2{
  0% {
      opacity: 0;
      transform: translateY(0px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: translateY(-25px);
  }
}
@keyframes steam_3{
  0% {
      opacity: 0;
      transform: translateY(0px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: translateY(-25px);
  }
}

@media screen and (max-width: 360px) {
  .hero{
    padding-bottom: 5px;
  }
  .hero-body{
    padding: 0px 0px 0px 0px;
  }
  .hero-text {
    font-size: 26px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #pink_cup_steam {
    width: 75%;
    height: 75%;
  }
}