
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Roboto|Open+Sans|Barlow|Lato&display=swap');

.logo {
  height: 60px;
  width: 76px;
  vertical-align: baseline;
  padding: 6px;
}

.logo-text {
  font-size: 34px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  padding: 6px;
}

.nav-text {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
}

.contact-icons {
    color: palevioletred;
  }